body{
    
    background-image: url(Pictures/bg.gif);
    background-position: top;
    background-size:cover;
    background-repeat: repeat-y;
    overflow-y: hidden;
    
}

h1{
    text-align: center;
}

#technicangel{
    
    padding-top: 7%;
    animation: bounce 2s ease-in-out infinite;
    
}

#pathselector {
    
    padding-top: 9%;
    animation: bounce1 2s ease-in-out infinite;

}

@keyframes bounce{
    
    0%{padding-bottom: 0}
    50%{padding-top: 9%;
    }
    100%{padding-bottom: 0}
}

@keyframes bounce1{
    
    0%{padding-bottom: 0}
    50%{padding-top: 7%;
    }
    100%{padding-bottom: 0}
}

#title{
    
    padding-top: 25%;
    font-family: "Cambria Math";
    font-style: italic;
    color: antiquewhite;
    animation: fade 1s ease-in-out infinite;
    
}

#title1{
    
    padding-top: 15%;
    font-family: "Cambria Math";
    font-style: italic;
    color: antiquewhite;
    animation: fade 1s ease-in-out infinite;
    
}



h3#text{
    
    text-align: left;
    color: antiquewhite;
    font-family: "Cambria Math";
    
    
}

h4#text{
    
    text-align: center;
    color: lightgray;
    font-family: "Cambria Math";
    
}

h5#text{
    
    text-align: right;
    color: grey;
    font-family: "Cambria Math";
    
}

@keyframes fade{
    
    0%{opacity: 1;}
    50%{opacity: 0.60;}
    100%{opacity: 1;}
    
}

#backbutton{

    padding-top: 40%;

}

#nextbutton1{

    padding-left: 500;
    transform: scale(.25);
    animation: fadetwo 1s ease-in-out infinite;

}

#nextbutton2{

    padding-left: 500;
    transform: scale(.25);
    animation: fadetwo 1s ease-in-out infinite;

}

@keyframes fadetwo{
    
    0%{opacity: 1;}
    50%{opacity: 0.5;}
    100%{opacity: 1;}
    
}

#sidenav a {

    position: fixed;
    left: -90px;
    transition: 0.3s;
    padding: 15px;
    width: 200px;
    text-decoration: none;
    font-size: 20px;
    color: white;
    border-radius: 0 0px 50px 0;
}

#sidenav a:hover {
    left: 0;
    background-color: black;
    opacity: 0.5;
}

#about {
    top: 20px;
    background-color: transparent;
    font-family: "Cambria Math";
    font-style: italic;
}

#blog {
    top: 80px;
    background-color: transparent;
    font-family: "Cambria Math";
    font-style: italic;
}

#music {
    top: 140px;
    background-color: transparent;
    font-family: "Cambria Math";
    font-style: italic;
}

#gallery {
    top: 200px;
    background-color: transparent;
    font-family: "Cambria Math";
    font-style: italic;
}

#home {
    top: 260px;
    background-color: transparent;
    font-family: "Cambria Math";
    font-style: italic;
}


#orb1{

    padding-left: 40%;
    animation: orb 1.5s ease-in-out infinite;

}

#orb2{

    padding-left: 40%;
    animation: orb 2s ease-in-out infinite;

}

@keyframes orb{
    
    0%{opacity: 1}
    50%{opacity: 0.7}
    100%{opacity: 1}
    
}


#A{

}

#B{

}

#container1{
    
    background-color: black;
    padding-right: 5%;
    opacity: .9;
    
}

.fa{
    padding: 30px;
    font-size: 50px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
    border-radius: 50%==;
}

.fa-facebook{
    color: grey;
}

.fa-facebook:hover{
    color: antiquewhite;
}

.fa-twitter{
    color: grey;
}

.fa-twitter:hover{
    color: antiquewhite;
}

#orbcontainer{
    
    
}

